<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li [class.active]="showMenu === 'dashboard'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('dashboard')"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'dashboard'">
                        <li><a routerLink="/dashboard/dashboard1" [routerLinkActive]="['router-link-active']">Modern</a></li>
                        <li><a routerLink="/dashboard/dashboard2" [routerLinkActive]="['router-link-active']">Classic</a></li>
                        <li><a routerLink="/dashboard/dashboard3" [routerLinkActive]="['router-link-active']">Analytical</a></li>
                    </ul>
                </li>
                <li [class.active]="showMenu === 'mantenimiento'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('dashboard')"><i class="mdi mdi-folder-lock"></i><span class="hide-menu">Mantenimiento</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'mantenimiento'">
                        <li><a routerLink="/mantenimiento/usuarios" [routerLinkActive]="['router-link-active']">Usuarios</a></li>
                        <li><a routerLink="/mantenimiento/vehiculos" [routerLinkActive]="['router-link-active']">Vehículos</a></li>
                    </ul>
                </li>
                <li [class.active]="showMenu === 'apps'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('apps')"><i class="mdi mdi-apps"></i><span class="hide-menu">Apps</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'apps'">
                        <li><a routerLink="/apps/email" [routerLinkActive]="['router-link-active']">Email</a></li>
                        <li><a routerLink="/apps/fullcalendar" [routerLinkActive]="['router-link-active']">Calendar</a></li>
                        <li><a routerLink="/apps/taskboard" [routerLinkActive]="['router-link-active']">Task Board</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">UI Components</li>
                <li [class.active]="showMenu === 'component'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Component</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
                        <li><a routerLink="/component/accordion" [routerLinkActive]="['router-link-active']">Accordion</a></li>
                        <li><a routerLink="/component/alert" [routerLinkActive]="['router-link-active']">Alert</a></li>
                        <li><a routerLink="/component/carousel" [routerLinkActive]="['router-link-active']">Carousel</a></li>
                        <li><a routerLink="/component/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a></li>
                        <li><a routerLink="/component/modal" [routerLinkActive]="['router-link-active']">Modal</a></li>
                        <li><a routerLink="/component/pagination" [routerLinkActive]="['router-link-active']">Pagination</a></li>
                        <li><a routerLink="/component/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a></li>
                        <li><a routerLink="/component/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a></li>
                        <li><a routerLink="/component/rating" [routerLinkActive]="['router-link-active']">Ratings</a></li>
                        <li><a routerLink="/component/tabs" [routerLinkActive]="['router-link-active']">Tabs</a></li>
                        <li><a routerLink="/component/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a></li>
                        <li><a routerLink="/component/buttons" [routerLinkActive]="['router-link-active']">Button</a></li>
                        <li><a routerLink="/component/cards" [routerLinkActive]="['router-link-active']">Card</a></li>
                        <li><a routerLink="/extra-component/toastr" [routerLinkActive]="['router-link-active']">Toastr Notification</a></li>
                        <li><a routerLink="/extra-component/upload" [routerLinkActive]="['router-link-active']">File Upload</a></li>
                        <li><a routerLink="/extra-component/editor" [routerLinkActive]="['router-link-active']">Editor</a></li>
                        <li><a routerLink="/extra-component/dragndrop" [routerLinkActive]="['router-link-active']">Drag n Drop</a></li>
                    </ul>
                </li>
                <li [class.active]="showMenu === 'extra'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('extra')"><i class="mdi mdi-widgets"></i><span class="hide-menu">Extra</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'extra'">
                        <li [class.active]="showMenu === 'widgets'">
                            <a routerLink="/widgets" (click)="addExpandClass('widgets')" [routerLinkActive]="['router-link-active']"><span class="hide-menu">Widgets</span></a>
                        </li>
                        <li [class.active]="showSubMenu === 'mainforms'">
                            <a class="has-arrow" href="javascript:void(0)" (click)="addActiveClass('mainforms')"><span class="hide-menu">Forms</span></a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'mainforms'">
                                <li><a routerLink="/forms/basicform" [routerLinkActive]="['router-link-active']">Basic Forms</a></li>
                                <li><a routerLink="/forms/formvalidation" [routerLinkActive]="['router-link-active']">Form Validation</a></li>
                                <li><a routerLink="/component/typehead" [routerLinkActive]="['router-link-active']">Form Typehead</a></li>
                                <li><a routerLink="/component/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a></li>

                            </ul>
                        </li>
                        <li [class.active]="showSubMenu === 'tables'">
                            <a class="has-arrow" href="javascript:void(0)" (click)="addActiveClass('tables')"><span class="hide-menu">Tables</span></a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'tables'">
                                <li><a routerLink="/tables/basictable" [routerLinkActive]="['router-link-active']">Basic Tables</a></li>
                                <li><a routerLink="/tables/smarttable" [routerLinkActive]="['router-link-active']">Smart Tables</a></li>
                                <li><a routerLink="/tables/datatable" [routerLinkActive]="['router-link-active']">Data Tables</a></li>

                            </ul>
                        </li>
                        <li [class.active]="showSubMenu === 'charts'">
                            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false" (click)="addActiveClass('charts')"><span class="hide-menu">Charts</span></a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'charts'">
                                <li><a routerLink="/charts/chartjs" [routerLinkActive]="['router-link-active']">Chart Js</a></li>
                                <li><a routerLink="/charts/chartistjs" [routerLinkActive]="['router-link-active']">Chartist Js</a></li>
                            </ul>
                        </li>
                        <li [class.active]="showSubMenu === 'icons'">
                            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false" (click)="addActiveClass('icons')"><span class="hide-menu">Icons</span></a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'icons'">
                                <li><a routerLink="/icons/fontawesome" [routerLinkActive]="['router-link-active']">Fontawesome</a></li>
                                <li><a routerLink="/icons/simpleline" [routerLinkActive]="['router-link-active']">Simple Line Icons</a></li>
                                <li><a routerLink="/icons/material" [routerLinkActive]="['router-link-active']">Material Icons</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li [class.active]="showMenu === 'sample-pages'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('sample-pages')"><i class="mdi mdi-file"></i><span class="hide-menu">Pages</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'sample-pages'">
                        <li [class.active]="showSubMenu === 'auth'">
                            <a class="has-arrow" href="javascript:void(0)" (click)="addActiveClass('auth')"><span class="hide-menu">Authentication</span></a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'auth'">
                                <li><a routerLink="/authentication/login" [routerLinkActive]="['router-link-active']">Login</a></li>
                                <li><a routerLink="/authentication/signup" [routerLinkActive]="['router-link-active']">Register</a></li>
                                <li><a routerLink="/authentication/404" [routerLinkActive]="['router-link-active']">404</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/sample-pages/timeline" [routerLinkActive]="['router-link-active']">Timeline</a></li>
                        <li><a routerLink="/sample-pages/profile" [routerLinkActive]="['router-link-active']">Profile</a></li>
                        <li><a routerLink="/sample-pages/pricing" [routerLinkActive]="['router-link-active']">Pricing</a></li>
                        <li><a routerLink="/sample-pages/invoice" [routerLinkActive]="['router-link-active']">Invoice</a></li>
                        <li><a routerLink="/starter" [routerLinkActive]="['router-link-active']">Starter Page</a></li>
                        <li><a routerLink="/sample-pages/helperclasses" [routerLinkActive]="['router-link-active']">Helper Classes</a></li>
                    </ul>
                </li>
                <li [class.active]="showMenu === 'multilevel'">
                    <a class="has-arrow waves-effect waves-dark" (click)="addExpandClass('multilevel')" aria-expanded="false"><i class="mdi mdi-arrange-send-backward"></i><span class="hide-menu">Multi dd</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'multilevel'">
                        <li><a href="#">item 1.1</a></li>
                        <li><a href="#">item 1.2</a></li>
                        <li [class.active]="showSubMenu === 'multilevel2'">
                            <a class="has-arrow" href="javascript:void(0)" (click)="addActiveClass('multilevel2')" aria-expanded="false">Menu 1.3</a>
                            <ul aria-expanded="false" class="collapse" [class.in]="showSubMenu === 'multilevel2'">
                                <li><a href="#">item 1.3.1</a></li>
                                <li><a href="#">item 1.3.2</a></li>
                                <li><a href="#">item 1.3.3</a></li>
                                <li><a href="#">item 1.3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">item 1.4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>